body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-size: medium;
    overflow: hidden;
}

.statusbalk {
    background-color: darkgray;
    color: white;
}

.document {
    padding: 0px;
    background-color: lightgray;
}

.pagina {
    background-color: white;
    border:solid;
    border-width: 0px;
    margin: 2px;
    padding: 0px;
}

.lijst {
    background-color: lightyellow;
}

.header {
    background-color: gray;
}

.menu {
    background-color: darkgray;
    padding: 10px;
    margin: 0px;
    z-index: 2;
    opacity: 0.95;
    display: inline-flex;
}

.knop {
    height: 28px;
    width: 140px;
    margin-top: 10px;
    margin-left: 6px;
    font-size: 16px;
    background-color: lightgray;
    border-radius: 8px;
    text-align:center;
    cursor: default;
}    

.regel {
    background-color: lightyellow;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.regels {
    overflow-y: auto;
}

.titel {
    font-size:medium;
    font-weight:bold;
}

.auteur {
    font-size: small;
    font-weight: normal;
}

.album {
    font-size: small;
    font-weight: normal;
    font-style: italic;
}

.aantalPaginas {
    font-size: small;
    font-weight: lighter;
}

.label {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    font-weight:400;
}

.custom-select {
    position: relative;
}

.select-selected {
    margin: 0px;
    overflow-x: hidden;
    position: absolute;
    padding-left: 4px;
    height: 28px;
    width: 100%;
    border-radius: 8px;
    background-color: lightgray;
    display: inline-block;
    cursor: default;
}

    /*style the arrow inside the select element:*/
    .select-selected:after {
        position: absolute;
        content: "";
        top: 8px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 2px;
    }

/*style the items (options), including the selected item:*/
.select-items div {
    color: white;
    padding: 4px 6px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #505050;
    top: 0px;
    height: 600px; 
    width: 400px;
    left: 0;
    right: 0;
    z-index: 99;
    overflow-y: scroll;
    display: none;
}


